<%- include("partials/header"); -%>

        <div class="elements">
            <h1 class="title">Flashcard Quiz App</h1>
            <a href="/createquiz"><button class="add-btn">Create Quiz</button></a>
            <a href="/viewquiz"><button class="edit-btn">View Quiz</button></a>
            <a href="/startquiz"><button class="start-btn">Start Quiz</button></a>
        </div>

    <%- include("partials/footer") -%>