<%- include("partials/header"); -%>

    <div class="container">
        <div class="elements">
            <h1 class="title">Flashcard Quiz App</h1>
            <a href="/questions"><button class="add-btn">Create Quiz</button></a>



            <a href="/startQuiz"><button class="start-btn">Start Quiz</button></a>


        </div>
    </div>


    <%- include("partials/footer") -%>