<%- include("partials/header"); -%>

    <div class="container">

        <h1>Add Questions</h1>

        <form class="" action="/questions" method="post">
            <div class="question-bank">
                <label>Question</label>
                <input class="question-box" type="text" name="newQuestion" placeholder="Input question">
                <label>Answer</label>
                <textarea class="answer-box" name="newAnswer" rows="4" cols="30" placeholder="Input question"></textarea>

                <button class="create-btn" type="submit" name="button" >Create</button>
            </div>
           
        </form>

    </div>

    <%- include("partials/footer") -%>