html{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elements {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 1em;
    justify-items: center;
}

.title {
    grid-column: 1/4;
    grid-row: 1/2
}

.add-btn {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: steelblue;
    color: white;
}

.edit-btn {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: darkorange;
    color: white;
}

.start-btn {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: limegreen;
    color: white;
}

.start-btn,
.add-btn,
.next-btn,
.show-btn,
.edit-btn,
.single-edit-btn,
.new-edit,
.overlay-close {
    width: auto;
    padding: 1em;
    margin: 1em;
    border: none;
    cursor: pointer;
}

.question-bank {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.question-insert,
.answer-insert {
    width: 15rem;
    margin: 0.25em 0 1em 0;
}

.create-btn {
    margin: 0 auto;
    padding: 0.5em;
    width: auto;
}

.quiz-start {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quiz-start-btns {
    display: flex;
    flex-direction: row;
}

.quiz-edit {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quiz-question-edit {
    color: lime;
}

.quiz-answer-edit {
    color: white;
}

.quiz-question-edit,
.quiz-answer-edit {
    width: auto;
    text-align: start;
}

.single-edit {
    display: flex;
}

.single-edit-btn {
    border: 1px solid white;
    background-color: rgb(86, 88, 89);
    margin: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: start;
}

.edit-window {
    padding: 20px;
    z-index: 2;
}

.edit-window-content {
    display: flex;
    flex-direction: column;
}

.edit-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question-display {
    background-color: darkolivegreen;
    width: 450px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn.hidden {
    display: none;
}

.answer-display {
    position: absolute;
    background-color: springgreen;
    width: 450px;
    height: 0px;
    opacity: 0;
    transition: opacity 0.25s, height 0.5s;
}

.answer-display.show-answer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    height: 300px;
}

.answer-display.exiting {
    transition: none; /* Remove transition for exiting */
    height: 0px;
    opacity: 0;
}

.hidden {
    display: none;
}